.octagon {
  height: 30em;
  position: relative;
  overflow: hidden;
  width: 30em;
}

.octagon:after {
  background-color:  #717580;
  content: " ";
  height: 100%;
  position: absolute;
  width: 100%;

  box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.25);

-webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
        transform: rotate(45deg);

}


.edimgS {
  position: absolute;
  display: flex;
  z-index: 3;

}


img{
display: flex;
  width: 250px;
  height: 200px;
  margin: 100px;
  box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.25);

}


