<app-navbar></app-navbar>
<div class="container-fluid">
  <h1 class="titleS ml-3">Angular</h1>
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="rowEditS">
        <div class="text-center">
          <div class="col">
            <h2 class="mt-5">Moon Gold</h2>
            <a href="https://moongold-lab.web.app/#/home">
              <img href="https://moongold-lab.web.app/#/home" class="img-fluid imgS"
                src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/burgerQueen.JPG?raw=true">
            </a>
            <div class="mt-3"><a class="iconGHs" href="https://github.com/LiRizo/SCL013-burger-queen"><i
                  class="fab fa-github"></i></a> </div>
            <div class="d-flex justify-content-center mt-2">
              <h3 class="col-md-7 text-justify">App web responsiva para una mejor coordinación entre los meseros y
                cocineros
                de un restaurante.</h3>
            </div>
          </div>
        </div>

        <div class="">
          <div class="text-center">
            <div class="col">
              <h2 class="mt-5">Fact Checker</h2>
              <a href="https://openproject-afd9c.web.app/home">
                <img class="img-fluid imgS1"
                  src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/factchecker.JPG?raw=true">
              </a>
              <div class="mt-3"><a class="iconGHs" href="https://github.com/LiRizo/fact-checker"><i
                    class="fab fa-github"></i></a> </div>
              <div class="d-flex justify-content-center mt-2">
                <h3 class="col-md-7 text-justify">Trivia para adultos mayores, sobre la pandemia del 2020, con la
                  modalidad de informar y compartir fuentes confiables.</h3>
              </div>

            </div>
          </div>
        </div>

        <div class="">
          <div class="text-center">
            <div class="col">
              <h2 class="mt-5">Mulebris</h2>
              <a href="https://mulebris-1d0b8.web.app/">
                <img class="img-fluid imgS2"
                  src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/Mulebrishld.JPG?raw=true">
              </a>
              <div class="mt-3"><a class="iconGHs" href="https://github.com/LiRizo/HLD_Mulebris"><i
                    class="fab fa-github"></i></a> </div>
              <div class="d-flex justify-content-center mt-2">
                <h3 class="col-md-8 text-justify">App web de mujeres para mujeres que puedan decidir con quién
                  atenderse medicamente.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h1 class="titleS ml-3 mt-3">JavaScript</h1>
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="col">
      <div class="rowEditS">
        <div class="text-center">
          <div class="col">
            <h2 class="mt-5">PokemonLovers</h2>
            <a href="https://conniebrito.github.io/SCL013-data-lovers/src/index.html">
              <img class="img-fluid imgS"
                src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/DataLovers.JPG?raw=true">
            </a>
            <div class="mt-3"><a class="iconGHs" href="https://github.com/LiRizo/SCL013-data-lovers"><i
                  class="fab fa-github"></i></a> </div>
            <div class="d-flex justify-content-center mt-2">
              <h3 class="col-md-7 text-justify">App web para aquellos que recién comienzan a jugar o se quieren interiorizar y conocer más de Pokémon. Entrega información clara sobre cada criatura de la Región de Kanto. </h3>
            </div>
          </div>
        </div>

        <div class="">
          <div class="text-center">
            <div class="col">
              <h2 class="mt-5">Paw Lovers</h2>
              <a href="https://lirizo.github.io/SCL013-social-network/src/index.html#/mas-sobre-PL">
                <img class="img-fluid imgS1"
                  src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/PawLovers.JPG?raw=true">
              </a>
              <div class="mt-3"><a class="iconGHs" href="https://github.com/LiRizo/SCL013-social-network"><i
                    class="fab fa-github"></i></a> </div>
              <div class="d-flex justify-content-center mt-2">
                <h3 class="col-md-7 text-justify">Una app web responsiva para los amantes de los animales donde pueden interactuar, concursar y saber información en cuanto a los cuidados y servicios.</h3>
              </div>
            </div>
            </div>
          </div>
        </div>
       </div>
    </div>
  </div>
<h1 class="titleS ml-3 mt-3">Node.js</h1>
<div class="d-flex justify-content-center">
  <div class="row">
    <div class="rowEditS">
          <div class="">
        <div class="text-center">
          <div class="col">
            <h2 class="mt-5">Md-Links</h2>
            <a href="https://www.npmjs.com/package/ro-li-md-links">
              <img class="img-fluid imgS1"
                src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/mdLinks.JPG?raw=true">
            </a>
            <div class="mt-3"><a class="iconGHs" href="https://github.com/LiRizo/SCL013-md-links"><i
                  class="fab fa-github"></i></a> </div>
            <div class="d-flex justify-content-center mt-2">
              <h3 class="col-md-7 text-justify">Una librería que realiza operaciones como: leer archivos, identificar y validar links. Muestra lo que hay dentro de un 'archivo .md', tanto los enlaces válidos, como los enlaces con error.
              </h3>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>

</div>
