.octagon {
  height: 30em;
  position: relative;
  overflow: hidden;
  width: 30em;
}

.octagon:after {
  background-color:  #717580;
  opacity: 40%;
  content: " ";
  height: 100%;
  position: absolute;
  width: 100%;
  box-shadow: 4px 6px 7px rgba(0, 0, 0, 0.25);

-webkit-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
     -o-transform: rotate(45deg);
        transform: rotate(45deg);

}


.edimgS {
  width: 45%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}


/* img{
  width: 100px;
  height: 100px;
  padding: 1px;
} */
