<app-navbar></app-navbar>


<div class="d-flex justify-content-center">

  <div class="row">

   <div class="row mt-5 ml-5">
    <div class="view overlay rounded z-depth-2 edimgS mt-5 mb-4">
      <img class="img-fluid mr-5 ml-5" src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/PawLovers.JPG?raw=true" alt="Sample image">
      <img class="img-fluid mr-5 ml-5" src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/burgerQueen.JPG?raw=true" alt="Sample image">
      <img class="img-fluid ml-5" src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/factchecker.JPG?raw=true" alt="Sample image">
        <a>
        <div class="mask rgba-white-slight waves-light" mdbWavesEffect></div>
      </a>
      </div>
  </div>

  <div  class="octagon"></div>

  <div  class="octagon"></div>

  <div  class="octagon"></div>
</div>
</div>
