<app-navbar></app-navbar>



<div class="d-flex justify-content-center">

  <div class="view overlay rounded z-depth-2 edimgS mb-4">

    <a href="https://lirizo.github.io/SCL013-social-network/src/index.html#/mas-sobre-PL">
      <img class="img-fluid img"
        src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/PawLovers.JPG?raw=true">
    </a>
    <a href="https://moongold-lab.web.app/#/home">
      <img class="img-fluid img"
        src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/burgerQueen.JPG?raw=true">
    </a>
    <a href="https://openproject-afd9c.web.app/home">
      <img class="img-fluid img"
        src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/factchecker.JPG?raw=true">
      </a>
  </div>
</div>


<div class="d-flex justify-content-center">
  <div class="row">
    <a href="https://lirizo.github.io/SCL013-social-network/src/index.html#/mas-sobre-PL">
      <div class="img-fluid octagon mr-5"></div>
    </a>
    <a href="https://moongold-lab.web.app/#/home">
      <div class="img-fluid octagon"></div>
    </a>
    <a href="https://openproject-afd9c.web.app/home">
      <div class="img-fluid octagon ml-5"></div>
    </a>

  </div>
</div>
