<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="d-flex justify-content-center">
    <div class="editS">
      <div class="col">

        <div class="row mt-5">
          <div class="editFontS">
            <h1><i class="fab fa-html5"></i></h1>
            <h3>HTML</h3>
          </div>

          <div class="editFontS">
            <h1><i class="fab fa-css3-alt"></i></h1>
            <h3>CSS</h3>
          </div>

          <div class="editFontS">
            <h1><i class="fab fa-js"></i></h1>
            <h3>JavaScript</h3>
          </div>

          <div class="editFontS">
            <h1><i class="fab fa-angular"></i></h1>
            <h3>Angular</h3>
          </div>
        </div>



        <div class="row mt-4">

          <div class="logoS">
            <img class="img-fluid"
              src="https://raw.githubusercontent.com/LiRizo/LiRizo_Portafolio/ddc5fa7049ae15a12b1cb8abb90498a290dd0954/linda-rizo/src/assets/img/Logos/photoshop.svg"
              alt="Photoshop">
            <h3>Photoshop</h3>
          </div>

          <div class="logoS">
            <img class="img-fluid"
              src="https://raw.githubusercontent.com/LiRizo/LiRizo_Portafolio/ddc5fa7049ae15a12b1cb8abb90498a290dd0954/linda-rizo/src/assets/img/Logos/ai.svg"
              alt="Illustrator">
            <h3>Illustrator</h3>
          </div>

          <div class="logoS">
            <img class="img-fluid"
              src="https://raw.githubusercontent.com/LiRizo/LiRizo_Portafolio/ddc5fa7049ae15a12b1cb8abb90498a290dd0954/linda-rizo/src/assets/img/Logos/premiere.svg"
              alt="Premiere">
            <h3>Premiere</h3>
          </div>

          <div class="logoS">
            <img class="img-fluid"
              src="https://raw.githubusercontent.com/LiRizo/LiRizo_Portafolio/ddc5fa7049ae15a12b1cb8abb90498a290dd0954/linda-rizo/src/assets/img/Logos/ae.svg"
              alt="After effects">
            <h3>After effects</h3>
          </div>
        </div>

            <div class="row">

              <div class="logoS">
                <img class="img-fluid imgEditS"
                  src="https://raw.githubusercontent.com/LiRizo/LiRizo_Portafolio/fbb1a46df5416a8c82448f352b7b01e197377921/linda-rizo/src/assets/img/Logos/blender.com.svg"
                  alt="Blender">
                <h3>Blender</h3>
              </div>
              <div class="logoS">
              <img class="img-fluid imgEditS1"
                src="https://raw.githubusercontent.com/LiRizo/LiRizo_Portafolio/fbb1a46df5416a8c82448f352b7b01e197377921/linda-rizo/src/assets/img/Logos/unity.com.svg"
                alt="Unity">
              <h3>Unity</h3>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
