<app-navbar></app-navbar>
<section>
  <div class="container-fluid">
    <div class="d-flex justify-content-center">
      <div class="row">
        <div class="col">
          <div class="editS">
            <div class="order-1">
              <div class="img-fluid octaCursor octagon mt-2">
                <div class="img-fluid octagon">
                  <div class="img-fluid octagon-2"></div>
                </div>
              </div>
            </div>

            <div class="order-2">
              <div class="d-flex justify-content-center ml-4 mr-4">
                <div class="col-md-8 textS">
                  <h2 class="mt-5 font2S">Front-End Developer </h2>
                  <h3 class="mt-3 font3S"> Licenciada en Comunicación Digital - Animación Digital </h3>
                  <p class="fontpS text-justify"> Me adentre en el mundo de la tecnología sin salida ni retorno,
                    gane experiencia en programas gráficos y de diseño, conocí Laboratoria donde
                    aprendí no solo a programar si no también a formar parte de una comunidad que
                    se apoyan y comparten conocimiento.
                  </p>
                  <p class="fontpS text-justify">Soy creativa, tengo destacadas habilidades de planificación,
                    pasión por el aprendizaje continuo, buen manejo de relaciones interpersonales,
                    flexibilidad y adaptación en nuevos ambientes de trabajo.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
