<app-navbar></app-navbar>


<section>
  <div class="d-flex justify-content-center mr-5">
  <div class="container poS">
    <div class="row align-items-center">
      <div class="col-md-6 order-1">
        <div class="p-5">
          <img class="img-fluid img" src="https://github.com/LiRizo/LiRizo_Portafolio/blob/master/linda-rizo/src/assets/img/DSC_1969e.jpg?raw=true" alt="">
        </div>
      </div>
      <div class="col-md-6 order-2">
        <div class="p-5">
          <h2 class="display-4">Front-End Developer </h2>
          <p>Licenciada en Comunicación Digital - Animación Digital,
            me adentre en el mundo de la tecnología sin salida ni retorno,
            gane experiencia en programas gráficos y de diseño, conocí Laboratoria donde
             aprendí no solo a programar si no también a formar parte de una comunidad que
             se apoyan y comparten conocimiento.
          </p>
          <p>Soy creativa, tengo destacadas habilidades de planificación, pasión por el aprendizaje continuo,
            buen manejo de relaciones interpersonales, flexibilidad y adaptación en nuevos ambientes de trabajo.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


<div class="d-flex justify-content-center mt-5">
<div class="row">
  <div id="octagonl" class="">

  </div>

<div id="octagon" class="">


</div>
</div>
</div>
