.meS {
  font-weight: 900;
font-size: 2.8rem;
}

.me2S {
  font-weight: 900;
font-size: 2.8rem;
color:#EBB940;
}
.spaceS {
  width: 60%;
}
.optionS {
  color: #F5F5F5;

  }

.headerS {
background-color: #c4c4c477;
height: 100%;
}
