<app-navbar></app-navbar>

<div class="container-fluid">
  <div class="d-flex justify-content-center">
<div class="row mt-5">

  <div class="editFontS"><a class="iconGHs" href="https://github.com/LiRizo"><i
    class="fab fa-github"></i></a>
  <h3>Visita mi GitHub</h3>
  </div>

    <div class="editFontS"><a href="https://drive.google.com/file/d/1IK5JkmYU2Fkqq_pHpZMF8ad4k75ZGh9K/view?usp=sharing">
      <h2 class="cvS"><i class="far fa-file-alt"></i></h2>
      <h3>Mi cv</h3>
    </a> </div>

    <div class="editFontS"><a class="iconGHs" href="https://www.linkedin.com/in/linda-canaima-rizo-contreras/">
      <i class="fab fa-linkedin-in"></i>
    </a>
  <h3>Comunicate conmigo</h3>
  </div>

</div>
  </div>
</div>
